 /*
Comentario Css
*/

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}
/*RESET*/

html{
   font-size: 62%;
}

.cabecalho{
   font-size: 2rem;
   width: 100%;
   background-color: rgba(186, 246, 255, 0.454);
}

.cabecalho h1{
   background-color: rgba(255, 230, 252, 0.754);
   font-size: 2em;
   width: 50;
   margin: 0 auto;
   text-align: center;
}

main section{
  width: 100%;
}

.img{
  width: 50%;
  margin:5% auto;
  display: block;
}


 /* header{
    background-color: #000000;
    color: #ffffff;
 }

 a{
    text-decoration: none;
    color: #fafafa;
 }

 p{
   color: #0000ff;
   font-weight: bold;
 }

 .paragrafo-conteudo{
   color: #ff0000;
   font-weight: normal;
 }

 #menu{
    background-color: #7c2e30;
 }

 input[type="email"]{
   border:2px solid #0000ff;
 }
 a:link{
   color:#fff000;
 }

 a:active{
   color:#ff0000;  
 }

 a:hover{
    background-color: #fafafa;
    color: #000000;
 }

 a[href="#"]:hover{
    background-color: #000000;
    color: #fafafa;


 main article a:nth-child(3):hover{
    background-color: #000000;
    color: #fafafa;
 } */