 
 
 
 /* RESET */
*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
/* RESET */




/*  
 header{
    background-color: #000000;
    color: #ffffff;
 }

 a{
    text-decoration: none;
    color: #00ff00;
 }

 p{
   color: #0000ff;
   font-weight: bold;
 }

 .paragrafo-conteudo{
   color: #ff0000;
   font-weight: normal;
 }

 #menu{
   background-color: #0000ff;
 }

 input[type="email"]{
   border:2px solid #0000ff;
 }

 a:link{
   color:#fff000;
 }

 a:active{
   color:#ff0000;  
 }

 a:hover{
   background-color: #ffffff;
   color: #000000;
 }

 a[href="#"]:hover{
   background-color:  #000000;
   color: #ffffff;
 }
  

  main article a:hover{
      background-color:  #000000;
      color: #ffffff;
  } 

  main article a:nth-child(3):hover{
      text-decoration: none;
      background-color:  #000000;
      color: #ffffff;
  } 
      */